<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

{% block footer %}
 <img src="https://nation.com.pk/print_images/medium/2016-11-30/trophy-of-the-markhor-1480487201-9921.jpg" alt="">
{% endblock %}
</html>